<div class="main-nav-container">
    <nav class="main-nav">
        <div class="container">
            <div class="logo">
                <img src="assets/images/header/Microtec_logo.png" alt="Microtec_logo"/>
            </div>
           <!--  <ul class="links">
               @for (item of nav_items; track $index) {
                <li>
                    <a href="">{{item.label}}</a>
                </li>
               }
            </ul> -->
            <div class="links">
                <p-menubar [model]="items">
                    <ng-template pTemplate="item" let-item>
                        <ng-container *ngIf="item.route; else urlRef">
                            <a [routerLink]="item.route" class="p-menuitem-link">
                                <span class="ml-2">{{ item.label }}</span>
                            </a>
                        </ng-container>
                        <ng-template #urlRef>
                            <a *ngIf="item.url; else noLink" [href]="item.url" class="p-menuitem-link">
                                <span class="ml-2">{{ item.label }}</span>
                            </a>
                        </ng-template>
                        <ng-template #noLink>
                            <div class="p-menuitem-link">
                                <span class="ml-2">{{ item.label }}</span>
                                <span class="pi pi-fw pi-angle-down ml-2"></span>
                            </div>
                        </ng-template>
                    </ng-template>
                </p-menubar>
            </div>
            <button class="nav-btn">{{btn_title}}</button>
        </div>    
    </nav>
    <div class="mobile-res">
        <div class="mobile">
            <p-button (onClick)="sidebarVisible = true"  >
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.33325 6.6665L22.6666 6.66651" stroke="#EAEDFB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M5.33325 16L26.6666 16" stroke="#EAEDFB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M9.33325 25.3335L22.6666 25.3335" stroke="#EAEDFB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>        
            </p-button>
          </div>
        @if (innerWidth <= 992) {
          <div class="mobile-res">
            <app-mobile-sidebar
             [sidebarVisible]="sidebarVisible"
             (hideSidebar)="sidebarVisible = false"
            ></app-mobile-sidebar>
         </div>
        }
    </div>
</div>