<section class="products">
    <div class="container">
        <div class="product-title">
            <h3>{{secTitle}}</h3>
            <p>{{secSubTitle}}</p>
        </div>
        <div class="product-info">
            <div class="box">
                <div class="box-info">
                  <div class="main-box-info">
                    <h4>{{boxs[0].title}}</h4>
                    <p>{{boxs[0].subTitle}}</p>
                  </div>
                  <div class="more-btn">
                    <button>المزيد</button>
                 </div>
                </div>
                <div class="big-image">
                    <img [src]="boxs[0].imgUrl" />
                </div>
                
            </div>
            <div class="boxs">
                @for (item of boxs; track $index) {
                @if($index != 0){
                <div class="box">
                    <div class="box-info">
                     <div class="main-box-info">
                        <h4>{{item.title}}</h4>
                        <p>{{item.subTitle}}</p>
                     </div>
                     <div class="more-btn">
                        <button>المزيد</button>
                     </div>
                    </div>
                    <div class="image">
                        <img [src]="item.imgUrl" />
                    </div>
                  
                </div>
                }
                }
            </div>
        </div>
    </div>
</section>