<section class="services">
    <div class="container">
        <div class="services-header">
            <h3>{{secTitle}}</h3>
            <p>{{secSubTitle}}</p>
        </div>
        <div class="services-content">
            <div class="service-boxs">
                @for (item of sectorsBoxs; track $index) {
                    <div class="box">
                      <img [src]="item.imgUrl" [alt]="item.title">
                      <div class="info">
                        <h4>{{item.title}}</h4>
                        <p>{{item.subtitle}}</p>
                      </div>
                    </div>
                   <span class="divider"></span>
                }
            </div>
        </div>
    </div>
</section>
