@import "../../../../../assets/styles/base/variables";
@import "../../../../../assets/styles/abstracts/mixins";
.services{
    padding-block: 54px;
    .container{
      display: flex;
      flex-direction: column;
      gap: 54px;
      .services-header{
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
        h3{
            font-family: 'IBM Plex Sans';
            font-size: 24px;
            font-weight: 600;
            color: $primary-Blue-text;
            margin: 0;
        }
        p{
            font-family: 'IBM Plex Sans';
            font-size: 18px;
            font-weight: 400;
            color: $primary-Blue-text2;
            margin: 0;
        }
      }
      .services-content{
       /*  display: flex;
        gap: 24px;
        @include respond('tablet'){
            flex-wrap: wrap;
        } */

        .service-boxs{
            display: flex;
            gap: 24px;
            align-items: center;
           // flex-wrap: wrap;
           @include respond('tablet'){
            flex-wrap: wrap;
        }
            .box{
             /*  flex-basis: calc((100% - 72px) / 4);
                @include respond('tablet'){  
                        flex-basis: calc((100% - 24px) / 2);
                } */
                 display: flex;
                 flex-direction: column;
                 gap: 24px;
                 align-items: center;
                 @include respond('tablet'){
                    flex-basis: 100%;
                }
                 img{
                    width: 80px;
                    height: 80px;
                 }
                 .info{
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    gap: 24px;
                    h3{
                        font-family: 'IBM Plex Sans';
                        font-size: 20px;
                        color: $primary-Blue-text;
                        font-weight: 600;
                        margin: 0;
                    }
                    p{
                        font-family: 'IBM Plex Sans';
                        font-size: 14px;
                        color: $primary-Blue-text2;
                        font-weight: 400;
                        text-align: center;
                        margin: 0;
                    }


                 }
            }
            .divider{
              display: block;
              width: 2px;
              height: 38px;
              background-color: $primary-Blue-400;
              @include respond('tablet'){
               display: none;
            }
              &:last-child{
                display: none;
              }
            }
          
        }
      }
    }
}